
<%- include("layout/header")  %>

<div class="container">
   <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
        <h3>Add New user</h3>
        <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" placeholder="Enter name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" required>
            </div>
            <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" name="phone" class="form-control" placeholder="Enter phone" required>
          </div>
          <div class="mb-3">
          <label for="image" class="form-label">Select Image</label>
          <input type="file" class="form-control" name="image" required>
        </div>
            <input type="submit" name="submit" value="Add User" class="btn btn-primary btn-lg">
          </form>
    </div>
   </div> 
</div>

<%- include("layout/footer")  %>
